form {
  font-family: var(--font-family, "Open Sans", "Ubuntu", "Helvetica Neue", Arial, Helvetica, sans-serif);
  position: relative;
  background-color: var(--color-bg, #fff);
  z-index: 10;
  border-radius: var(--radius, 4px);
  margin: 0;
  transition: max-width 0.25s;
  box-shadow: var(--shadow, 0px 2px 5px rgba(51, 51, 89, 0.15));
  pointer-events: all;
}
form,
form *,
form *:after,
form *:before {
  box-sizing: border-box;
}
form.can-collapse {
  max-width: var(--size-collapse-width, 29px);
}
form.can-collapse input::placeholder {
  transition: opacity 0.25s;
  opacity: 0;
}
form,
form.can-collapse:focus-within,
form.can-collapse:hover {
  width: var(--size-width, 270px);
  max-width: var(--size-width, 270px);
}
form input::placeholder,
form:focus-within input::placeholder,
form:hover input::placeholder {
  opacity: 1;
}
input {
  font: inherit;
  font-size: var(--font-size-input, 14px);
  flex-grow: 1;
  min-height: var(--size-input-min-height, 29px);
  background-color: transparent;
  color: var(--color-input, #444952);
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  margin: 0;
  padding: 0;
}
input:focus {
  color: var(--color-input-focus, #444952);
  outline: 0;
  box-shadow: none;
}
ul,
div.error,
div.no-results {
  background-color: var(--color-bg-dropdown, #fff);
  border-radius: var(--radius-dropdown, 4px);
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: calc(100% + 6px);
  overflow: hidden;
}
ul {
  font-size: var(--font-size-items, 14px);
  line-height: 16px;
  box-shadow: var(--shadow-dropdown, 0px 5px 10px rgba(51, 51, 89, 0.15));
}
div.error,
div.no-results {
  font: inherit;
  line-height: 18px;
  font-size: var(--font-size-error, 12px);
  display: flex;
  gap: 16px;
}
div.error {
  padding: 16px;
  font-weight: 600;
  color: var(--color-error-text, #e25041);
  background-color: var(--color-error-bg, #fbeae8);
}
div.error div {
  flex-grow: 1;
}
div.error maptiler-geocode-fail-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
div.error button {
  flex-shrink: 0;
}
div.error button maptiler-geocode-clear-icon {
  --color-icon-button: var(--color-error-icon, #e25041);
}
div.error button:hover maptiler-geocode-clear-icon,
div.error button:active maptiler-geocode-clear-icon {
  --color-icon-button: inherit;
}
div.no-results {
  padding: 14px 24px 14px 16px;
  font-weight: 400;
  color: var(--color-no-results-text, #6b7c93);
  box-shadow: var(--shadow-dropdown, 0px 5px 10px rgba(51, 51, 89, 0.15));
}
div.no-results maptiler-geocode-fail-icon {
  margin-top: 4px;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}
ul.options.open-on-top {
  top: auto;
  bottom: calc(100% + 6px);
}
button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  height: auto;
  width: auto;
}
button:hover {
  background-color: transparent;
}
button:hover,
button:active {
  --color-icon-button: var(--color-icon-button-hover, #2b8bfb);
}
.input-group {
  display: flex;
  align-items: stretch;
  gap: var(--input-group-gap, 7px);
  padding: var(--input-group-padding, 0 8px);
  border-radius: var(--radius-input-group, 4px);
  overflow: hidden;
}
.input-group:focus-within {
  outline: var(--color-focus-outline, #2b8bfb) solid var(--size-focus-outline, 2px);
}
.search-button {
  flex-shrink: 0;
}
.clear-button-container {
  display: none;
  position: relative;
  align-items: stretch;
  width: var(--size-clear-button-container, 13px);
  justify-content: center;
}
.clear-button-container.displayable {
  display: flex;
  flex-shrink: 0;
}
:host(.maptiler-geocoder):not(:empty) {
  box-shadow: none;
}
:host(.maptiler-geocoder) .input-group {
  border: var(--color-input-group-border, white solid 2px);
}
:host(.maptiler-geocoder) .input-group:focus-within {
  border: var(--color-input-group-border-focused, #2b8bfb solid 2px);
  outline: 0;
}
:host(.maptiler-geocoder) form.can-collapse {
  max-width: var(--size-collapse-width, 33px);
}
:host(.maptiler-geocoder) form,
:host(.leaflet-geocoder) form,
:host(.maptiler-geocoder) form.can-collapse:focus-within,
:host(.leaflet-geocoder) form.can-collapse:focus-within,
:host(.maptiler-geocoder) form.can-collapse:hover,
:host(.leaflet-geocoder) form.can-collapse:hover {
  width: var(--size-width, 270px);
  max-width: var(--size-width, 270px);
}
:host(.leaflet-geocoder) .input-group {
  border: var(--color-input-group-border, white solid 1px);
}
:host(.leaflet-geocoder) form.can-collapse {
  max-width: var(--size-collapse-width, 30px);
}
