.sprite-icon {
  align-self: center;
  justify-self: center;
  opacity: var(--icon-items-opacity, 0.75);
  background-repeat: no-repeat;
}

li {
  text-align: left;
  cursor: default;
  display: grid;
  grid-template-columns: 40px 1fr;
  color: var(--color-items, #444952);
  padding: 8px 0px;
  font-size: var(--font-size-items, 14px);
  line-height: 1.3;
  min-width: fit-content;
  outline: 0;
}

li:first-child {
  padding-top: 10px;
}

li:last-child {
  padding-bottom: 10px;
}

li.picked {
  background-color: var(--color-items-picked-bg, #e7edff);
}

li.picked .secondary,
li.picked .line2 {
  color: var(--color-items-picked-secondary, #96a4c7);
}

li.selected {
  background-color: var(--color-items-selected-bg, #f3f6ff);
  animation: backAndForth 5s linear infinite;
}

li.selected .primary {
  color: var(--color-items-selected, #2b8bfb);
}

li.selected .secondary,
li.selected .line2 {
  color: var(--color-items-selected-secondary, #a2adc7);
}

li > img {
  align-self: center;
  justify-self: center;
  opacity: var(--icon-opacity, 0.75);
}

.texts {
  padding: 0 17px 0 0;
}

.texts > * {
  white-space: nowrap;
  display: block;
  min-width: fit-content;
}

.primary {
  font-weight: 600;
}

.secondary {
  color: var(--color-items-secondary, #aeb6c7);
  padding-left: 4px;
}

.line2 {
  color: var(--color-items-secondary, #aeb6c7);
}

@keyframes backAndForth {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(calc(-100% + var(--feature-item-animate-width, var(--size-width, 270px))));
  }
  55% {
    transform: translateX(calc(-100% + var(--feature-item-animate-width, var(--size-width, 270px))));
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
