svg {
  display: block;
  fill: #6b7c93;
  stroke: #6b7c93;
  height: 30px;
}

/* @TODO move extra styles to variables and outside of this component */
/* :global(.maplibregl-canvas-container .marker-selected) {
  z-index: 1;
}

:global(.maplibregl-canvas-container) svg path,
:global(.leaflet-map-pane) svg path {
  fill: #3170fe;
  stroke: #3170fe;
}

:global(.marker-selected) svg path {
  fill: #98b7ff;
  stroke: #3170fe;
}

:global(.marker-reverse) svg path {
  fill: silver;
  stroke: gray;
}

:global(.marker-interactive) {
  cursor: pointer !important;
}

/ * :global(.marker-fuzzy) svg path {
  fill: silver;
  stroke: gray;
}

:global(.marker-fuzzy.marker-selected) svg path {
  fill: #ddd;
  stroke: silver;
} * /

:global(.maptiler-gc-popup > .maplibregl-popup-content) {
  padding: 2px 8px;
} */
