html,
body,
main {
  height: 100%;
  background-color: #eee;
}

main {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.control-bar {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.overflow-auto {
  overflow: auto;
}

.logs {
  display: grid;
  column-gap: 1em;
  grid-template-columns: auto 1fr;
  height: 0px; /* fixes overflow */
}

.logs > div:nth-child(2n) {
  text-wrap: nowrap;
  color: blue;
}
