html,
body,
main {
  height: 100%;
  background-color: #eee;
}

main {
  padding: 1em;
  gap: 1em;
  display: flex;
  flex-direction: column;
}

.control-bar {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

.console {
  flex-grow: 1;
  overflow: auto;
}
